In [222]:
from selenium import webdriver
import numpy as np
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.options import Options
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
import re
import itertools
import csv
import json
from collections import Counter
import 

pd.set_option('display.max_colwidth', None)

headers = {
    'User-Agent': 'Mie Damgaard',
    'mail' : 'rks516@alumni.ku.dk'
}

In [226]:
df = pd.read_csv('index_0_1000.csv')
df_pris_fejl = df[pd.isna(df['Price'])]
df_pris_fejl
# Drop rows where any column contains the string 'fejl'
#df = df[~df.apply(lambda row: row.astype(str).str.contains('fejl').any(), axis=1)]

,Unnamed: 0,Price,Schoolname,Distance to school,School-grades,Trivsel,Boligtype,Energy-classification,Radon,Kommuneskat,...,Ejerudgift,Rooms,Build,Toilets,Postal code,link,Elevator,Altan,Terasse,Toilet
999,"Stationsvej 12M,4681",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,fejl,fejl,fejl,NaN,fejl,https://www.boligsiden.dk/addresses/0c65634c-d1d8-30a3-e044-0003ba298018,fejl,fejl,fejl,fejl

In [250]:
#### CELLE TIL AT FINDE UD AF, HVOR DER ER FEJL. 

# Load the original dataset
df = pd.read_csv('index_0_1000.csv')
print("Original length:", len(df))

# Identify rows with "fejl" in any column
rows_with_fejl = df.apply(lambda row: row.astype(str).str.contains('fejl').any(), axis=1)

# Identify rows where the 'Price' column is NaN
rows_with_nan_price = df['Price'].isna()

pd.set_option('display.max_colwidth', None)
# Combine both conditions to get the rows that will be dropped
dropped_rows = df[rows_with_fejl | rows_with_nan_price]

# Drop those rows from the original dataset
df_cleaned = df[~(rows_with_fejl | rows_with_nan_price)]

# Output the length of the cleaned dataset
print("Cleaned length:", len(df_cleaned))

# Save the dropped rows as a new dataset
dropped_rows.to_csv('dropped_rows.csv', index=False)

# Optionally, save the cleaned dataset as well
df_cleaned.to_csv('cleaned_dataset.csv', index=False)

Original length: 1000
Cleaned length: 992

In [252]:
df_uden_fejl = df.drop(df_pris_fejl.index) #dropper alle hvor price er NaN

In [254]:
#Kommuneskat
print(df['Kommuneskat'].dtype)
df_uden_fejl['Kommuneskat'] = df_uden_fejl['Kommuneskat'].astype(str)
df_uden_fejl['Kommuneskat'] = df_uden_fejl['Kommuneskat'].str.replace(',', '.').str.replace('%', '') #komma til punktum og procenttegn væk
df_uden_fejl['Kommuneskat'] = df_uden_fejl['Kommuneskat'].astype(float)

object

In [382]:
print(df_uden_fejl['Ejerudgift'].dtype)
df_uden_fejl['Ejerudgift'] = df_uden_fejl['Ejerudgift'].astype(str)
df_uden_fejl['Ejerudgift'] = df_uden_fejl['Ejerudgift'].str.replace('Ejerudg.:', '').str.replace('kr/md', '') #komma til punktum og procenttegn væk
df_uden_fejl['Ejerudgift'] = df_uden_fejl['Ejerudgift'].astype(float)   #JEG HAR UDSKIFTET FEJL MED MISSING VALUES

float64

In [290]:
print(df_uden_fejl['Grundskyldspromillen'].dtype)
df_uden_fejl['Grundskyldspromillen'] = df_uden_fejl['Grundskyldspromillen'].astype(str)
df_uden_fejl['Grundskyldspromillen'] = df_uden_fejl['Grundskyldspromillen'].str.replace(',', '.').str.replace('‰', '') #komma til punktum og procenttegn væk
df_uden_fejl['Grundskyldspromillen'] = df_uden_fejl['Grundskyldspromillen'].str.rstrip('.')
df_uden_fejl['Grundskyldspromillen'] = df_uden_fejl['Grundskyldspromillen'].astype(float)

float64

In [320]:
print(df_uden_fejl['Liggetid'].dtype)
df_uden_fejl['Liggetid'] = df_uden_fejl['Liggetid'].astype(str)
df_uden_fejl['Liggetid'] = df_uden_fejl['Liggetid'].str.lstrip('Til salg i alt:').str.rstrip('e').str.rstrip('dag')
df_uden_fejl['Liggetid'] = df_uden_fejl['Liggetid'].astype(float)

float64

In [378]:
print(df_uden_fejl['m2'].dtype)
df_uden_fejl['m2'] = df_uden_fejl['m2'].astype(str)
df_uden_fejl['m2'] = df_uden_fejl['m2'].str.rstrip('m²')
df_uden_fejl['m2'] = df_uden_fejl['m2'].astype(float)

float64

In [368]:
#OBS VED MANGLENDE GRUNDSTØRRELSE HAR JEG INDSAT LEJLIGHEDENS AREAL FRA M2
print(df_uden_fejl['Grund'].dtype)
df_uden_fejl['Grund'] = df_uden_fejl['Grund'].astype(str)
df_uden_fejl['Grund'] = df_uden_fejl['Grund'].str.extract(r'(\d+)').astype(float)
df_uden_fejl['Grund'] = df_uden_fejl['Grund'].fillna(df_uden_fejl['m2'])

float64

In [380]:
print(df_uden_fejl['Rooms'].dtype)
df_uden_fejl['Rooms'] = df_uden_fejl['Rooms'].astype(str)
df_uden_fejl['Rooms'] = df_uden_fejl['Rooms'].str.rstrip('værelser').astype(float)

float64