In [225]:
#OBS pip install thefuzz
import pandas as pd
from thefuzz import process
from thefuzz import fuzz, process
# Load the Excel file into a DataFrame
file_path_excel = 'karakterer.xlsx'  # Ret sti
df_karakter = pd.read_excel(file_path_excel, sheet_name='Ark2')

df_karak_kom = pd.read_excel(file_path_excel, sheet_name='Ark3')
df_karak_kom = df_karak_kom.rename(columns={
    'Beliggenhedskommune': 'belkom',
    'Gennemsnit - Bundne prøver': 'Average_Grade'
})


# Load the CSV file into a DataFrame bolig_laeger_st_DST
csv_file_path = 'outputdata/bolig_laeger_st_DST.csv'   # Ret sti
df_csv = pd.read_csv(csv_file_path)

df_csv['Municipality_cleaned'] = df_csv['Municipiality'].str.replace('Kommune', '', regex=False).str.strip()

# Get unique values for Beliggenhedskommune in df_karakter
beliggenhedskommune_options = df_karakter['Beliggenhedskommune'].unique()

# Function to match Municipality_cleaned with Beliggenhedskommune using fuzzy matching
def match_municipality(muni, options, threshold=90):
    match, score = process.extractOne(muni, options)
    return match if score >= threshold else None

# Apply fuzzy matching to each Municipality_cleaned in df_csv
df_csv['Matched_Kommune'] = df_csv['Municipality_cleaned'].apply(match_municipality, options=beliggenhedskommune_options)
# Perform the merge with the matched municipality
merged_df = pd.merge(df_csv, 
                     df_karakter[['Afdeling', 'Karakter', 'Soc_ref', '1 årig - Socioøkonomisk Reference Forskel', 'Beliggenhedskommune']], 
                     left_on=['Schoolname', 'Matched_Kommune'], 
                     right_on=['Afdeling', 'Beliggenhedskommune'], 
                     how='left')


#Second merge with average grades
final_merged_df = pd.merge(merged_df,
                           df_karak_kom[['belkom', 'Average_Grade', 'Indikatorsvar']],
                           left_on='Matched_Kommune',
                           right_on='belkom',
                           how='left')

#Dropping variables
final_merged_df.drop(['Municipality_cleaned', 'Beliggenhedskommune', 'belkom', 'Municipality_cleaned', 'Soc_ref'  ], axis=1, inplace=True)


#Data cleaning
import numpy as np

# Fill NaN in 'Karakter' with 'Average_Grade' and create a dummy for imputed values
final_merged_df['Karakter_imputed'] = np.where(final_merged_df['Karakter'].isna(), 1, 0)
final_merged_df['Karakter'] = final_merged_df['Karakter'].fillna(final_merged_df['Average_Grade'])

# Fill NaN in 'Trivsel' with 'Indikator svar' and create a dummy for imputed values
final_merged_df['indikator_imputed'] = np.where(final_merged_df['Trivsel'].isna(), 1, 0)
final_merged_df['Trivsel'] = final_merged_df['Trivsel'].fillna(final_merged_df['Indikatorsvar'])

# Fill NaN in '1 årig - Socioøkonomisk Reference Forskel' with 'På Niveau' and create a dummy for imputed values
final_merged_df['Socioeconomic_Ref_Imputed'] = np.where(final_merged_df['1 årig - Socioøkonomisk Reference Forskel'].isna(), 1, 0)
final_merged_df['1 årig - Socioøkonomisk Reference Forskel'] = final_merged_df['1 årig - Socioøkonomisk Reference Forskel'].fillna('På Niveau')

# Dropping of unwanted variabels
NW_merged_df=final_merged_df.drop(['School-grades', 'Matched_Kommune', 'Afdeling'  ], axis=1)

#imputed_columns
imputed_columns = NW_merged_df.loc[:, NW_merged_df.columns.str.lower().str.endswith('_imputed')]

# Sum across rows for columns ending with '_imputed' and create a new column
NW_merged_df['sum_imputed'] = imputed_columns.sum(axis=1)

# Identify columns that end with '_imputed'
sidste = [col for col in NW_merged_df.columns if col.lower().endswith('_imputed')]

# Identify columns that do not end with '_imputed'
forste = [col for col in NW_merged_df.columns if col not in sidste]

# Reorder the DataFrame columns: non-imputed columns first, then imputed columns
NW_merged_df = NW_merged_df[forste + sidste]

,Unnamed: 0,Price,Schoolname,Distance to school,Trivsel,Boligtype,Energy-classification,Radon,Kommuneskat,Grundskyldspromillen,...,Karakter,1 årig - Socioøkonomisk Reference Forskel,Average_Grade,Indikatorsvar,Rooms_imputed,Toilets_imputed,Karakter_imputed,indikator_imputed,Socioeconomic_Ref_Imputed,sum_imputed
0,"Mellemtoftevej 36,2600",3995000.0,"Hospitalsskolen , Børne og Ungdomspsykiatrisk ...",0.391,3.502026,Rækkehus,D,Høj,24.60,25.00,...,6.896407,På Niveau,6.896407,3.502026,0.0,0.0,1,1,1,3.0
1,"Pilehusene 84,2600",2995000.0,Herstedøster Skole,0.774,3.700000,Rækkehus,C,Høj,25.60,33.94,...,7.600000,På Niveau,6.774788,3.548950,0.0,0.0,0,0,0,0.0
2,"Magnoliavej 22, st. th.,2600",1795000.0,"Glostrup skole, Søndervang",0.598,3.502026,Ejerlejlighed,D,Høj,24.60,25.00,...,7.200000,På Niveau,6.896407,3.502026,0.0,0.0,0,1,0,1.0
3,"Skolevej 3,2600",4295000.0,Skolerne i Glostrup,0.342,3.502026,Villa,D,Høj,24.60,25.00,...,7.200000,På Niveau,6.896407,3.502026,0.0,0.0,0,1,0,1.0
4,"Falkevej 32,2600",6245000.0,"Glostrup skole, Nordvang",0.279,3.502026,Villa,C,Høj,24.60,25.00,...,6.400000,På Niveau,6.896407,3.502026,0.0,0.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19846,"Egevej 2,7540",1295000.0,Haderup Skole,7.610,3.700000,Villa,C,Lav,24.90,20.53,...,6.200000,På Niveau,7.177844,3.650689,0.0,0.0,0,0,0,0.0
19847,"Bredgade 66,7540",620000.0,Haderup Skole,7.800,3.700000,Villa,E,Lav,24.90,20.53,...,6.200000,På Niveau,7.177844,3.650689,0.0,0.0,0,0,0,0.0
19848,"Østerhovedvej 3,4942",2695000.0,Østofte Landsbyordning,11.680,3.800000,Villa,A2010,Meget høj,26.30,33.09,...,5.631308,På Niveau,5.631308,3.569307,0.0,0.0,1,0,1,2.0
19849,"Nordre Strandvej 109,3150",17900000.0,Hellebækskolen,1.170,3.800000,Villa,D,Lav,25.52,28.50,...,7.500000,På Niveau,7.314811,3.550135,0.0,0.0,0,0,0,0.0
19850,"Sønderbyen 30,6753",1475000.0,Agerbæk Skole,1.140,3.600000,Landejendom,F,Lav,25.10,31.56,...,7.400000,På Niveau,7.030894,3.568311,0.0,0.0,0,0,0,0.0

In [227]:
NW_merged_df.to_csv('outputdata/NW_merged.csv', index=False)

,Unnamed: 0,Price,Schoolname,Distance to school,School-grades,Trivsel,Boligtype,Energy-classification,Radon,Kommuneskat,...,Grades_imputed,Toilets_imputed,Muncipiality,Matched_Kommune,Afdeling,Karakter,1 årig - Socioøkonomisk Reference Forskel,Average_Grade,Karakter_imputed,Socioeconomic_Ref_Imputed
0,"Mellemtoftevej 36,2600",3995000.0,"Hospitalsskolen , Børne og Ungdomspsykiatrisk ...",0.391,7.187918,3.728406,Rækkehus,D,Høj,24.60,...,1,0,Glostrup Kommune,Glostrup,NaN,6.896407,På Niveau,6.896407,1,1
1,"Strandpromenaden 21, 1. tv.,3000",6095000.0,Skolen i Bymidten,0.336,7.182988,3.723773,Ejerlejlighed,A2015,Lav,25.52,...,1,0,Helsingør Kommune,Helsingør,Skolen i Bymidten,6.800000,Dårligere end forventet,7.314811,0,0
2,"Hjortdalvej 331,9460",3995000.0,Skovsgård Tranum skole,5.240,6.900000,3.600000,Landejendom,D,Meget lav,25.70,...,0,0,Jammerbugt Kommune,Jammerbugt,Skovsgård Tranum skole,6.000000,På Niveau,6.768619,0,0
3,"Lystgårdsparken 34,8300",2798000.0,Parkvejens Skole,5.160,7.000000,3.700000,Villa,B,Mellem,25.10,...,0,0,Odder Kommune,Odder,Parkvejens Skole,7.300000,På Niveau,7.338372,0,0
4,"Fuglsøvej 92,8420",6000000.0,Molsskolen,3.740,7.400000,3.700000,Villa,D,Høj,25.90,...,0,0,Syddjurs Kommune,Syddjurs,Molsskolen,8.400000,På Niveau,7.160032,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9911,"Langelandsvej 23,6100",1145000.0,Starup-Øsby Skole og Børnehus,1.140,6.400000,3.800000,Villa,D,Høj,26.30,...,0,0,Haderslev Kommune,Haderslev,NaN,6.385789,På Niveau,6.385789,1,1
9912,"Nybovej 7,9640",995000.0,Farsø Skole,0.373,6.900000,3.700000,Villa,D,Mellem,26.30,...,0,0,Vesthimmerlands Kommune,Vesthimmerlands,Farsø Skole,8.200000,Bedre end forventet,7.459388,0,0
9913,"Storskovvej 3,4700",2995000.0,"Fladsåskolen, afd. Korskilde",4.910,7.013961,3.717343,Villa,A2010,Høj,25.00,...,1,0,Næstved Kommune,Næstved,NaN,6.984070,På Niveau,6.984070,1,1
9914,"Gl Landevej 23,9690",725000.0,Fjerritslev Skole,5.620,6.400000,3.600000,Villa,E,Lav,25.70,...,0,0,Jammerbugt Kommune,Jammerbugt,Fjerritslev Skole,6.700000,På Niveau,6.768619,0,0
9915,"Wilhelmsvej 3,3050",13500000.0,Humlebæk Skole,1.190,7.800000,3.800000,Villa,A2010,Mellem,25.30,...,0,0,Fredensborg Kommune,Fredensborg,Humlebæk Skole,7.600000,På Niveau,7.780085,0,0

In [171]:
NW_merged_df=final_merged_df.drop(['School-grades', 'Grades_imputed', 'Matched_Kommune', 'Afdeling'  ], axis=1)
NW_merged_df.head(50)

,Unnamed: 0,Price,Schoolname,Distance to school,Trivsel,Boligtype,Energy-classification,Radon,Kommuneskat,Grundskyldspromillen,...,Terasse,Rooms_imputed,Trivsel_imputed,Toilets_imputed,Muncipiality,Karakter,1 årig - Socioøkonomisk Reference Forskel,Average_Grade,Karakter_imputed,Socioeconomic_Ref_Imputed
0,"Mellemtoftevej 36,2600",3995000.0,"Hospitalsskolen , Børne og Ungdomspsykiatrisk ...",0.391,3.728406,Rækkehus,D,Høj,24.60,25.00,...,0,0,1,0,Glostrup Kommune,6.896407,På Niveau,6.896407,1,1
1,"Strandpromenaden 21, 1. tv.,3000",6095000.0,Skolen i Bymidten,0.336,3.723773,Ejerlejlighed,A2015,Lav,25.52,28.50,...,0,0,1,0,Helsingør Kommune,6.800000,Dårligere end forventet,7.314811,0,0
2,"Hjortdalvej 331,9460",3995000.0,Skovsgård Tranum skole,5.240,3.600000,Landejendom,D,Meget lav,25.70,32.85,...,0,0,0,0,Jammerbugt Kommune,6.000000,På Niveau,6.768619,0,0
3,"Lystgårdsparken 34,8300",2798000.0,Parkvejens Skole,5.160,3.700000,Villa,B,Mellem,25.10,30.32,...,0,0,0,0,Odder Kommune,7.300000,På Niveau,7.338372,0,0
4,"Fuglsøvej 92,8420",6000000.0,Molsskolen,3.740,3.700000,Villa,D,Høj,25.90,33.80,...,0,0,0,0,Syddjurs Kommune,8.400000,På Niveau,7.160032,0,0
5,"Korsebjergengen 19,2630",4195000.0,Ole Rømer-Skolen,1.500,3.500000,Villa,C,Høj,24.60,24.40,...,0,0,0,0,Høje-Taastrup Kommune,5.900000,På Niveau,7.003100,0,0
6,"Vestervang 32, 2. tv.,2500",3200000.0,Hanssted Skole,0.283,3.800000,Ejerlejlighed,D,Mellem,23.70,34.00,...,0,0,0,0,Københavns Kommune,8.900000,Bedre end forventet,7.488218,0,0
7,"Capellavej 45,8270",6795000.0,Rundhøjskolen,0.909,3.700000,Villa,C,Høj,24.52,24.58,...,0,0,0,0,Aarhus Kommune,8.100000,På Niveau,7.568960,0,0
8,"Grønkjærsvej 44,7000",2298000.0,"Erritsø Fællesskole, Krogagervej",0.413,3.717343,Villa,D,Høj,25.50,26.00,...,0,0,1,0,Fredericia Kommune,7.200000,På Niveau,6.743536,0,0
9,"Ramsherred 31,5900",795000.0,Ørstedskolen,1.630,3.717343,Villa,B,Høj,26.30,24.57,...,0,0,1,0,Langeland Kommune,6.700000,På Niveau,6.706579,0,0
10,"Mellem Broerne 7C, 2. 1.,9400",3795000.0,Skansevejens Skole,0.371,3.800000,Ejerlejlighed,C,Lav,25.40,26.95,...,0,0,0,0,Aalborg Kommune,8.200000,På Niveau,7.306414,0,0
11,"Søtofteparken 56,3660",3395000.0,Ganløse Skole,0.615,3.728406,Rækkehus,C,Høj,25.70,23.98,...,0,0,1,0,Egedal Kommune,8.000000,På Niveau,7.506144,0,0
12,"Reventlowsgade 32, 2. tv.,1651",7000000.0,Gasværksvejens Skole,0.469,3.600000,Ejerlejlighed,C,Mellem,23.70,34.00,...,0,0,0,0,Københavns Kommune,8.200000,På Niveau,7.488218,0,0
13,"Dådyrvænget 605,2980",5995000.0,Kokkedal Skole,1.490,3.800000,Villa,D,Høj,25.30,24.65,...,0,0,0,0,Fredensborg Kommune,7.700000,På Niveau,7.780085,0,0
14,"Nybro Vænge 56,2800",7245000.0,Stengård Skole,1.290,3.800000,Rækkehus,C,Lav,23.60,23.00,...,0,0,0,0,Gladsaxe Kommune,8.400000,På Niveau,7.454149,0,0
15,"Steveltvej 17,6100",1845000.0,Starup-Øsby Skole og Børnehus,6.960,3.800000,Villa,C,Høj,26.30,24.36,...,0,0,0,0,Haderslev Kommune,6.385789,På Niveau,6.385789,1,1
16,"Vestergade 183B,6792",695000.0,Skærbæk Distriktsskole,15.100,3.600000,Ejerlejlighed,fejl,Meget lav,25.30,21.24,...,0,0,0,1,Tønder Kommune,6.400000,På Niveau,6.474762,0,0
17,"Bistrup Park 48,3460",1850000.0,Søholmskolen,1.260,3.700000,Ejerlejlighed,D,Mellem,23.21,22.93,...,0,0,0,0,Rudersdal Kommune,7.500000,På Niveau,8.093368,0,0
18,"Sjørslevvej 65,8620",495000.0,"Trekløverskolen, Silkeborg",4.160,3.700000,Villa,F,Mellem,25.50,28.26,...,0,0,0,0,Silkeborg Kommune,6.800000,På Niveau,7.281787,0,0
19,"Skolegade 11,8881",1295000.0,Tungelundskolen,0.520,3.600000,Villa,C,Mellem,25.70,23.32,...,0,0,0,0,Favrskov Kommune,6.500000,På Niveau,7.519106,0,0
20,"Sønderdalvej 6,8831",695000.0,Løgstrup Skole,1.660,3.700000,Villa,E,Høj,25.50,23.70,...,0,0,0,0,Viborg Kommune,7.200000,På Niveau,7.072889,0,0
21,"Nygårdsvej 9,6700",1798000.0,Danmarksgades Skole,0.605,3.723773,Ejerlejlighed,C,Meget lav,25.80,25.29,...,0,0,1,0,Esbjerg Kommune,7.200000,På Niveau,6.921155,0,0
22,"Urtehaven 34,2500",7698000.0,Harrestrup Å Skole,0.380,3.717343,Villa,B,Mellem,23.70,34.00,...,0,0,1,0,Københavns Kommune,6.000000,På Niveau,7.488218,0,0
23,"Sønderbrogade 95, 1. th.,8700",1595000.0,Dagnæsskolen,1.560,3.800000,Ejerlejlighed,D,Høj,25.39,22.56,...,0,0,0,0,Horsens Kommune,7.100000,På Niveau,7.063846,0,0
24,"Møllevangsvej 79,8940",1795000.0,Søndermarkskolen,2.960,3.800000,Villa,C,Høj,25.80,27.93,...,0,0,0,0,Randers Kommune,6.920515,På Niveau,6.920515,1,1
25,"Villingebæk Strandvej 635,3120",4950000.0,"Gilbjergskolen, Gilleleje",5.440,3.700000,Villa,C,Lav,25.40,29.34,...,0,0,0,0,Gribskov Kommune,7.200000,På Niveau,6.869423,0,0
26,"Kalmargade 6A,8200",5095000.0,Katrinebjergskolen,0.586,3.700000,Rækkehus,A2015,Høj,24.52,24.58,...,0,0,0,0,Aarhus Kommune,6.800000,På Niveau,7.568960,0,0
27,"Hasseløvej 4,4873",2395000.0,Sydfalster Skole,1.080,3.600000,Villa,C,Høj,25.80,32.34,...,0,0,0,0,Guldborgsund Kommune,7.300000,På Niveau,6.912799,0,0
28,"Toldertoften 1,5600",1100000.0,Øhavsskolen,3.040,3.700000,Villa,C,Høj,26.10,22.85,...,0,0,0,0,Faaborg-Midtfyn Kommune,6.900000,På Niveau,6.768365,0,0
29,"Tyttebærhaven 9,2670",3695000.0,Damagerskolen,0.500,3.728406,Rækkehus,C,Høj,24.42,16.94,...,0,0,1,0,Greve Kommune,7.200000,På Niveau,7.372066,0,0
30,"Randkløvevej 23,3760",5500000.0,Hans Rømer Skolen,13.390,3.600000,Villa,C,Meget høj,26.20,34.00,...,0,0,0,0,Bornholm Kommune,5.800000,På Niveau,6.646117,0,0
31,"Nansensgade 15, 2. tv.,5000",1495000.0,Ejerslykkeskolen,0.828,3.700000,Ejerlejlighed,E,Mellem,25.50,21.71,...,0,0,0,0,Odense Kommune,7.200000,På Niveau,7.090106,0,0
32,"Rødevej 2,7500",1495000.0,Rolf Krake Skolen,1.150,3.800000,Villa,D,Lav,25.50,24.12,...,0,0,0,0,Holstebro Kommune,7.700000,På Niveau,7.283131,0,0
33,"Kirkegade 122,6700",4498000.0,Boldesager Skole,0.572,3.717343,Villa,D,Meget lav,25.80,25.29,...,0,0,1,0,Esbjerg Kommune,7.200000,På Niveau,6.921155,0,0
34,"Kastanie Alle 18,6640",1445000.0,Kongsbjergskolen,3.560,3.800000,Villa,C,Mellem,25.50,25.00,...,0,0,0,0,Kolding Kommune,7.200000,På Niveau,7.181385,0,0
35,"Bakkedraget 6,7490",1295000.0,Aulum-Hodsager Skole,0.994,3.800000,Villa,C,Lav,24.90,20.53,...,0,0,0,0,Herning Kommune,8.000000,På Niveau,7.177844,0,0
36,"Svalevej 20,6640",1195000.0,Kongsbjergskolen,0.809,3.800000,Villa,C,Mellem,25.50,25.00,...,0,0,0,0,Kolding Kommune,7.200000,På Niveau,7.181385,0,0
37,"Rendebæksvej 42,2765",8495000.0,Ung Egedal - Hovedadresse,0.778,3.717343,Villa,D,Høj,25.70,23.98,...,0,0,1,0,Egedal Kommune,7.506144,På Niveau,7.506144,1,1
38,"Sprogøvej 5,6710",2675000.0,Fourfeldtskolen,0.402,3.717343,Villa,D,Meget lav,25.80,25.29,...,0,0,1,0,Esbjerg Kommune,5.900000,Dårligere end forventet,6.921155,0,0
39,"Oldenborggade 8, 3. th.,2300",5495000.0,Lergravsparkens Skole,0.124,3.700000,Ejerlejlighed,A2015,Mellem,23.70,34.00,...,0,0,0,0,Københavns Kommune,7.700000,På Niveau,7.488218,0,0
40,"Østergade 130, 1.,8700",1575000.0,Langmarkskolen,0.611,3.800000,Ejerlejlighed,D,Høj,25.39,22.56,...,0,0,0,0,Horsens Kommune,7.200000,På Niveau,7.063846,0,0
41,"Saxovej 142,5210",1595000.0,Tarup Skole,0.883,3.700000,Rækkehus,C,Mellem,25.50,21.71,...,0,0,0,0,Odense Kommune,7.400000,På Niveau,7.090106,0,0
42,"Stationsvej 20,7330",1695000.0,Dalgasskolen,0.407,3.717343,Villa,C,Lav,25.10,20.35,...,0,0,1,0,Ikast-Brande Kommune,7.150932,På Niveau,7.150932,1,1
43,"Nordlundvej 124,7330",1650000.0,Artium Skole,1.450,3.717343,Villa,C,Lav,25.10,20.35,...,0,0,1,0,Ikast-Brande Kommune,6.500000,På Niveau,7.150932,0,0
44,"Gammel Strandvej 229A,3060",29800000.0,Tibberupskolen,1.160,3.717343,Villa,C,Lav,25.52,28.50,...,0,0,1,0,Helsingør Kommune,7.700000,På Niveau,7.314811,0,0
45,"Ørnevang 28, st. 4.,3450",1095000.0,Lillevang Skole,0.334,3.800000,Ejerlejlighed,D,Høj,25.30,23.80,...,0,0,0,0,Allerød Kommune,7.900000,På Niveau,7.987025,0,0
46,"Flakholmen 9, 2. tv.,2720",2795000.0,Damhusengens Skole,0.613,3.700000,Ejerlejlighed,D,Mellem,23.70,34.00,...,0,0,0,0,Københavns Kommune,8.100000,På Niveau,7.488218,0,0
47,"Bakkedraget 14,4450",1595000.0,Jyderup Skole,3.370,3.600000,Villa,D,Meget høj,25.30,25.09,...,0,0,0,0,Holbæk Kommune,6.600000,På Niveau,6.691702,0,0
48,"Søndre Badevej 6C, 1. 3.,4600",6495000.0,Sct. Nicolai Skole,1.140,3.900000,Ejerlejlighed,A2015,Mellem,25.26,21.04,...,0,0,0,0,Køge Kommune,8.700000,Bedre end forventet,7.357561,0,0
49,"Feldborgvej 10,2770",4395000.0,Løjtegårdsskolen,0.243,3.700000,Rækkehus,C,Mellem,23.10,24.00,...,0,0,0,0,Tårnby Kommune,7.400000,På Niveau,7.098288,0,0

In [ ]:
#!!!!!!!!!!!!!!!!!! IGNORER ALT HERFRA !!!!!!!!!!!!!!!!!!!!!#

In [165]:
nan_afdeling_df = final_merged_df[final_merged_df['Afdeling'].isna()]
nan_afdeling_df
unique_missing = nan_afdeling_df['Schoolname'].unique()
nan_afdeling_df

,Unnamed: 0,Price,Schoolname,Distance to school,School-grades,Trivsel,Boligtype,Energy-classification,Radon,Kommuneskat,...,Grades_imputed,Toilets_imputed,Muncipiality,Matched_Kommune,Afdeling,Karakter,1 årig - Socioøkonomisk Reference Forskel,Average_Grade,Karakter_imputed,Socioeconomic_Ref_Imputed
0,"Mellemtoftevej 36,2600",3995000.0,"Hospitalsskolen , Børne og Ungdomspsykiatrisk ...",0.391,7.187918,3.728406,Rækkehus,D,Høj,24.6,...,1,0,Glostrup Kommune,Glostrup,NaN,6.896407,På Niveau,6.896407,1,1
15,"Steveltvej 17,6100",1845000.0,Starup-Øsby Skole og Børnehus,6.960,6.400000,3.800000,Villa,C,Høj,26.3,...,0,0,Haderslev Kommune,Haderslev,NaN,6.385789,På Niveau,6.385789,1,1
24,"Møllevangsvej 79,8940",1795000.0,Søndermarkskolen,2.960,6.800000,3.800000,Villa,C,Høj,25.8,...,0,0,Randers Kommune,Randers,NaN,6.920515,På Niveau,6.920515,1,1
37,"Rendebæksvej 42,2765",8495000.0,Ung Egedal - Hovedadresse,0.778,7.013961,3.717343,Villa,D,Høj,25.7,...,1,0,Egedal Kommune,Egedal,NaN,7.506144,På Niveau,7.506144,1,1
42,"Stationsvej 20,7330",1695000.0,Dalgasskolen,0.407,7.013961,3.717343,Villa,C,Lav,25.1,...,1,0,Ikast-Brande Kommune,Ikast-Brande,NaN,7.150932,På Niveau,7.150932,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9897,"Råsted Kirkevej 24A,7570",1995000.0,Vemb Skole og Børnehus,5.660,6.100000,3.700000,Villa,E,Lav,25.5,...,0,0,Holstebro Kommune,Holstebro,NaN,7.283131,På Niveau,7.283131,1,1
9905,"Sankt Jørgens Vej 78,5700",2345000.0,Vestre Skole,1.470,5.900000,3.700000,Villa,D,Meget høj,26.3,...,0,0,Svendborg Kommune,Svendborg,NaN,6.892428,På Niveau,6.892428,1,1
9910,"Haldagerlillevej 6,4250",675000.0,Vesterlandsskolen,3.690,7.013961,3.717343,Villa,D,Høj,25.0,...,1,0,Næstved Kommune,Næstved,NaN,6.984070,På Niveau,6.984070,1,1
9911,"Langelandsvej 23,6100",1145000.0,Starup-Øsby Skole og Børnehus,1.140,6.400000,3.800000,Villa,D,Høj,26.3,...,0,0,Haderslev Kommune,Haderslev,NaN,6.385789,På Niveau,6.385789,1,1
9913,"Storskovvej 3,4700",2995000.0,"Fladsåskolen, afd. Korskilde",4.910,7.013961,3.717343,Villa,A2010,Høj,25.0,...,1,0,Næstved Kommune,Næstved,NaN,6.984070,På Niveau,6.984070,1,1

In [157]:
filtered_row = nan_afdeling_df[nan_afdeling_df['Schoolname'] == "Østervangsskolen"]
filtered_row

,Unnamed: 0,Price,Schoolname,Distance to school,School-grades,Trivsel,Boligtype,Energy-classification,Radon,Kommuneskat,...,Grades_imputed,Toilets_imputed,Muncipiality,Matched_Kommune,Afdeling,Karakter,1 årig - Socioøkonomisk Reference Forskel,Average_Grade,Karakter_imputed,Socioeconomic_Ref_Imputed
3154,"Gl. Hadsundvej 7,8900",3995000.0,Østervangsskolen,0.851,6.6,3.8,Villa,C,Høj,25.8,...,0,0,Randers Kommune,Randers,NaN,6.920515,På Niveau,6.920515,1,1
6154,"Christiansborgvej 9,8930",2775000.0,Østervangsskolen,0.215,6.6,3.8,Villa,D,Høj,25.8,...,0,0,Randers Kommune,Randers,NaN,6.920515,På Niveau,6.920515,1,1
6619,"Østervangsvej 15,8900",4495000.0,Østervangsskolen,0.480,6.6,3.8,Villa,D,Høj,25.8,...,0,0,Randers Kommune,Randers,NaN,6.920515,På Niveau,6.920515,1,1
7066,"Udbyhøjvej 29, 1. tv.,8930",450000.0,Østervangsskolen,0.795,6.6,3.8,Ejerlejlighed,E,Høj,25.8,...,0,0,Randers Kommune,Randers,NaN,6.920515,På Niveau,6.920515,1,1

In [167]:
new_df =nan_afdeling_df[(nan_afdeling_df['Grades_imputed'] == 0) & (nan_afdeling_df['Karakter_imputed'] == 1)]
unik=new_df['Schoolname'].unique()
unik

array(['Starup-Øsby Skole og Børnehus', 'Søndermarkskolen',
       'Sundbyøster Skole', 'Sydmors skole og Børnehus', 'Gerbrandskolen',
       'Tre Ege Skolen', 'Vestre Skole', 'Bjerregrav Skole',
       'Valdemarskolen', 'Glavendrupskolen', 'Humble Skole',
       'Fællesskolen Bevtoft-Over Jerstal, afd. Over Jerstal',
       'Bregnbjergskolen', 'Midtmors Skole', 'Arnborg-Kølkær Skole',
       'Bøgebjergskolen', 'Raarup Skole', 'Ørkildskolen', 'Thurø Skole',
       'Østofte Landsbyordning', 'Erlev Skole',
       'Fællesskolen Hammelev-Sct. Severin', 'Solbakkeskolen',
       'Stouby Skole', 'Stige Skole', 'Glyngøre Skole', 'Lumby Skole',
       'Kristrup Skole', 'Skibet Skole', 'Børneby Midt',
       'Fynshav Børneunivers', 'Tollundskolen', 'Ramløse Skole',
       'Hobrovejens Skole', 'Dagmarskolen', 'Gelsted Skole',
       'Langhøjskolen', 'Skodborg Børnecenter',
       'Fællesskolen HoptrupMarstrupVilstrup', 'Børneby Nord',
       'Koldby Skole', 'Brahesminde Skole', 'Vemb Skole og Børnehus',
       'Skave Skole og Børnehus', 'Østervangsskolen', 'Dyvekeskolen',
       'Fællesskolen Nustrup-Sommersted', 'Bedsted Skole',
       'Ungecentret - 10. klasse', 'Havndal Skole', 'Ahlmann-Skolen',
       'M.C. Holms Skole'], dtype=object)